{% extends 'blogs/base.html' %}

{% block title %}
    <title>About</title>
{% endblock title %}

{% block header %}
    <h1>About</h1>
{% endblock header %}

{% block content %}
    <div class="fs-5">
        <p>This website is a personal project for praticing making a website using Python and Django, as well as Bootstrap for styling.</p>
        <p>
            This is a simple website with some basic features for user to work with blogs. You can choose a topic and read blogs
            within the topic, or access a specific user's page to see all their public blogs. If you want to make your own blogs,
            you can sign up for an account and start writing.
        </p>
        <p>
            With an account, you're able to create blogs of your own with a choice to make them public or private if you want other people
            to be able to see your blogs or not, as well as other features like editing, deleting and filtering.
        </p>
    </div>
{% endblock content %}